body {
    text-align: center;
}

img {
    border-style: none;
}

a {
    
}

#twheel {
    width: 85%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.icon {
    width: 48px;
    height: 48px;
}

.status {
    padding: 5px;
    margin: 5px;
}
