body {
    text-align: center;
}

.name > a {
    font-weight: bold;
    color: #2e6e9e;
}

img {
    border-style: none;
}

.icon {
    width: 24px;
    height: 24px;
}

#twtrapid {
    width: 85%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.status-header {

}

.icon-container {
    float: left;
}

.name {
    margin-left: 5px;
    float: left;
}

.favorite {
    margin-left: 5px;
    float: left;
}

.status {
    padding: 5px;
    margin: 5px;
}
